/* 반응형 스타일 */
/* 작은 화면 */
@media screen and (max-width: 1024px) {
  .list-bg {
    width: 80%;
  }
  .main-links {
    width: 75%;
  }
  .main-link {
    height: 60px;
    border-radius: 40px;
  }
}
/* 모바일 */
@media screen and (max-width: 768px) {
  h3 h4 {
    font-size: 17px;
  }
  .main-greeting {
    width: 95%;
    margin: 15px auto;
    font-size: medium;
  }
  .main-links,
  .login-bg {
    width: 95%;
  }
  .main-link {
    flex-direction: column;
    font-size: 14px;
    margin: 5px;
    height: 60px;
    border-radius: 10px;
  }
  .main-link :first-child {
    margin-right: 0;
    margin-bottom: auto;
  }
  .list-bg {
    width: 100%;
  }
  .list-comments {
    width: 97%;
  }
  .list-desc {
    width: 90%;
  }
  .list-item {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0px;
  }
  .list-img {
    width: 120px;
    height: 180px;
  }
  .list-img-big {
    width: 152px;
    height: 224px;
  }
}
