body {
  margin: 0;
  background: #000000;
  color: white;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
textarea {
  width: 90%;
  resize: vertical;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  margin: 10px 10px 5px 0px;
  background: rgb(190, 190, 190);
  border: none;
  border-radius: 5px;
}
button:hover {
  background: white;
}
.main-title {
  color: #e50914;
  text-align: center;
  margin: 30px;
}

.main-footer {
  color: white;
  text-align: center;
  margin: 30px;
}
.main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.main-link {
  width: 200px;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  background: white;
  color: black;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

.main-link:hover {
  background: rgb(190, 190, 190);
}
.Link {
  text-decoration: none;
  color: white;
}
.Link:hover {
  color: rgb(190, 190, 190);
}
.list-bg {
  background: #000000;
  padding: 10px;
}
.list-item {
  background: #303030;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.list-img:hover {
  background: rgba(0, 0, 0, 0.5); /* 덮어쓸 이미지의 배경색이 될 색상 */
}
.list-item h4 {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item h4:hover {
  color: rgb(190, 190, 190);
}
.list-item p {
  color: rgb(190, 190, 190);
  margin: 5px 0px;
}
.p-20 {
  padding: 20px;
}
.textarea-container {
  width: 100%;
}

.hidden {
  display: none;
}
.white {
  background: rgb(241, 241, 241);
}
.list-desc-input label {
  display: inline-flex;
  margin: auto;
  width: 100%;
}
.list-desc-input span {
  width: 80px;
}
.list-desc-input input {
  margin-right: auto;
  width: 170px;
}
.relative {
  position: relative;
}
/* 투명도로 에니매이션 만들기 */
.overlay {
  /* 공중에 띄우기 */
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.overlay:hover {
  opacity: 1;
}

.overlay-wrap-up {
  /* 공중에 띄우기 */
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.overlay-wrap-up:hover .overlay-black-up {
  margin-left: 0%;
}

.overlay-black-up {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  margin-left: -100px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}
.overlay-black-up :hover {
  cursor: pointer;
}
