html,
header {
  margin: 0;
  background: #000000;
  color: white;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  border: 0;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  width: 80%;
}
textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  overflow-y: auto;
  font-family: "Open Sans";
}
button {
  padding: 10px 15px;
  margin: 10px 10px 5px 0px;
  background: rgb(190, 190, 190);
  border: none;
  border-radius: 5px;
}
button:hover {
  background: white;
}
hr {
  color: rgb(190, 190, 190);
}
h1,
h3 {
  text-align: center;
}
.textarea-container {
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
}

body::-webkit-scrollbar,
.textarea::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 50px;
}

.textarea::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background: #303030;
}

.textarea::-webkit-scrollbar-track {
  background: rgb(190, 190, 190);
}
@keyframes fade-in-bigger {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main-logo-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  opacity: 0;
  animation: fade-in-bigger 1000ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 600ms;
  transition-delay: 600ms;
}
.main-sayHello {
  text-align: center;
  opacity: 0;
  animation: fade-in-bigger 1000ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 600ms;
  transition-delay: 1000ms;
}

.main-footer {
  color: rgb(190, 190, 190);
  text-align: center;
  margin: 30px;
}
.main-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: black;
  text-align: center;
  text-decoration: none;
}

.main-link {
  width: 200px;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  background: white;
  color: black;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  animation: fade-in-bigger 900ms ease-in-out forwards;
}

.main-link:hover {
  background: rgb(190, 190, 190);
}
.Link {
  text-decoration: none;
  color: white;
}
.Link:hover {
  color: rgb(190, 190, 190);
}
.list-bg {
  background: black;
  padding: 10px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.list-item {
  background: #303030;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  animation: fade-in 500ms ease-in-out forwards;
}
.buttons {
  margin-top: 100px;
}

.list-img {
  width: 152px;
  height: 224px;
}

.list-img-big {
  width: 282px;
  height: 400px;
}
.list-item h4 {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item h4:hover {
  color: rgb(190, 190, 190);
}
.list-item p {
  color: rgb(190, 190, 190);
  margin: 5px 0px;
  width: 100%;
}
.p-20 {
  padding: 20px;
}

.hidden {
  display: none;
}
.white {
  background: rgb(241, 241, 241);
}
.list-desc-input {
  margin: 5px;
  width: 90%;
}
.list-desc-input label {
  display: inline-flex;
  margin: 5px;
  width: 100%;
}
.list-desc-input span {
  width: 20%;
  min-width: 80px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

/* 투명도로 에니매이션 만들기 */
.relative {
  position: relative;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.relative:hover {
  transform: scale(1.05);
}
/* 공중에 띄우기 */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}
.overlay:hover {
  opacity: 1;
}
.overlay span:hover {
  cursor: pointer;
}
/* 공중에 띄우기 */
/* .overlay-wrap-right {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.overlay-wrap-right:hover .overlay-black-right {
  margin-left: 0%;
}

.overlay-black-right {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  margin-left: -100px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}
.overlay-black-right :hover {
  cursor: pointer;
} */

/* 반응형 스타일 */
/* 테블릿 & 작은 데스크톱 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .main-links {
    width: 80%;
  }
  .main-link {
    width: 180px;
  }
  .list-item {
    width: 80%;
  }
  .list-img-big {
    width: 152px;
    height: 224px;
  }
}

/* 스마트폰 */
@media screen and (max-width: 575px) {
  .main-links {
    width: 95%;
  }
  .main-link {
    margin: 8px;
    width: 160px;
  }
  .list-item {
    width: 90%;
  }
  .list-img-big {
    width: 152px;
    height: 224px;
  }
}
